/**
 * ============================================================================
 * TABLE OF CONTENTS
 * ============================================================================
 *
 * 1. Main Parts
 */

/* Block 1. Main Parts */

#navigation {
    display: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    list-style-type: none;
    border-bottom: 2px solid #bbccb8;
    background: #def2da;
    font-size: 0pt;
}
#navigation li {
    display: inline-block;
    border-right: 1px solid #bbccb8;
}
#navigation a {
    display: block;
    min-width: 80px;
    margin: 0px;
    padding: 10px 20px;
    font-size: 10.5pt;
    text-align: center;
}
#navigation li:hover a {
    background: #dbe5da;
}
#navigation a:hover,
#navigation li:hover a:hover {
    background: #ffffff;
    text-decoration: none;
}
#navigation .sub-menu {
    display: none;
    position: absolute;
    background: url("../img/submenu_bg.png") right bottom no-repeat scroll #dbe5da;
    font-size: 0pt;
}
#navigation .sub-menu a {
    display: block;
    min-width: 80px;
    padding: 10px 20px;
    border: 1px solid #a2b3a1;
    font-size: 10.5pt;
    text-align: left;
}
#navigation .sub-menu a:last-child {
    border-bottom: 3px solid #a2b3a1;
}
#header {
    display: block;
    margin: 0px;
    padding: 40px 0px 0px 0px;
    border: 1px solid transparent;
    border-bottom-color: #000;
    background: #fff;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}
#header > span {
    display: inline-block;
    min-width: 980px;
    padding: 10px;
    text-align: left;
}
#header > span > span {
    display: inline-block;
    vertical-align: top;
}
#header > span > span:last-child {
    float: right;
}
#header .logo-emts-60x60 {
    position: absolute;
}
#header .system-short,
#header .system-name {
    display: inline-block;
    margin: 0px 0px 0px 80px;
    padding: 0px;
    font-size: 20pt;
    font-weight: bold;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}
#header .system-short {
    letter-spacing: 45pt;
}
#header .system-name {
    font-size: 10pt;
    font-weight: normal;
}
#header #system-time-date {
    display: inline-block;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    clear: right;
    float: right;
    font-size: 10pt;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}
#header #system-time-date span {
    display: inline-block;
    margin: 0px;
    padding: 0px 7px;
    text-align: right;
}
#header #login-form {
    display: inline-block;
    float: right;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}
#header #login-form label {
    display: inline-block;
    padding: 0px 5px 0px 10px;
    font-size: 10pt;
}
#header #login-form input[type="text"],
#header #login-form input[type="password"] {
    display: inline-block;
    width: 150px;
    font-size: 10pt;
}
#header #login-form .msg-error {
    display: block;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    font-size: 10pt;
    text-align: right;
}
#header #login-form #user {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid #111;
    font-weight: bold;
    color: #002ca6;
    cursor: pointer;
    vertical-align: top;
}
#header #login-form #user:after {
    content: ' ';
    display: inline-block;
    width: 0px;
    height: 0px;
    margin: 0px 0px 5px 10px;
    padding: 0px;
    border-top: 10px solid #000399;
    border-bottom: 0px solid #000399;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    vertical-align: middle;
}
#header #login-form #user .small {
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none;
}
#header #login-form #user-options {
    display: none;
    position: absolute;
    border: 1px solid #cccccc;
    background: #fff;
    font-size: 0pt;
}
#header #login-form #user-options a {
    display: block;
    margin: 0px;
    padding: 9px 15px;
    border-bottom: 1px solid #cccccc;
    font-weight: normal;
    font-size: 10.5pt;
}
#header #login-form #user-options a:hover {
    background: #f2f2f2;
    text-decoration: none;
}
#header #login-form #user-options a:last-child {
    border-bottom: 0px;
}
#body {
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#body > span {
    display: inline-block;
    width: 980px;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 70px 10px;
    overflow: visible;
    border-bottom-right-radius: 30px;
    border: 1px solid transparent;
    background: url('../img/textured_noisedwhite.jpg') center center repeat scroll #fff;
    box-shadow:
        -3px -3px 0px rgba(255, 255, 255, 0.3),
        3px 3px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);
}
#footer {
    display: block;
    margin: 0px 0px 100px 0px;
    padding: 0px;
    text-align: center;
}
#footer > span {
    display: inline-block;
    min-width: 980px;
    margin: 0px;
    padding: 10px;
    text-align: left;
}
#copyright {
    display: block;
    margin: 0px;
    padding: 0px;
    position: fixed;
    border: 1px solid transparent;
    background: #f2f2f2;
    box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.35);
    bottom: 0px;
    left: 0px;
    font-size: 9pt;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}
#copyright > span {
    display: inline-block;
    min-width: 980px;
    padding: 10px;
    text-align: center;
}
#copyright .logo-emts-25x25 {
    margin: 0px 10px 0px 0px;
    vertical-align: middle;
}
#copyright .system_company {
    display: inline-block;
    padding: 5px 0px;
    float: right;
}
